body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../pictures/db2.jpg);
    color:white;
    background-attachment: fixed;
  }
  .in-tit{
    /* color:#1A488E; */
    color:rgb(233, 223, 223);
  }
  .in-sum{
      /* color:#D7A09B; */
      color:#ffe0b2bb;
  }

  .navbar {
    
    display: flex;
padding-left: 20px;
    align-items: center;
    margin: 0 0;
    border-bottom: 1px solid #f2f2f2;
    /* justify-content: space-evenly; */
    /* background-color: aqua; */
    

  }
  .res_tit{
    color:#FDA300;
  }
  .logo{
    color:#FDA300;
      font-size: 3em;
      margin-right: 6%;
  }
  .input-group,.form-outline{
      width:1000px;
      /* background-color: brown; */


  }
  .search-bar{
     
      margin-top: 20px;
      width:300px;
     
      
  }
  .form-outline{
      display: flex;
      justify-content: space-evenly;
  }
  .bt{
      background-color:#020b1b;
      color:#d48d0a;
      border-radius: 20px;
      font-size: 20px;
      margin-left: -20px;
      outline: none;
      border: none;
  }
  .bt:hover{
      cursor: pointer;
      background-color: #020b1b80;
  }
  #form1{
    border-radius: 15px;
width:700px;

background-color: rgba(255, 255, 255, 0.219);
border:none;
outline: none;
height: 30px;
padding-left:20px;
font-size:1.5em;
color:#000000d5;
  }
  .results{
      margin-left:21%;
  }
  .cont{
      /* background-color: aqua; */
      width:80%;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.349);
       /* padding-left: 20px;
      padding-top:10px;  */
      max-height:200px;
      min-height: 150px;
     
  }
  .cont:hover{
    background-color: rgba(56, 56, 56, 0.671);
    cursor: pointer;
  }
  .cont:hover .in-sum{
      color:#131212;
  }
  .cont:hover .in-tit{
    color:#131212;
}
  .in-tit{
      margin-top:10px;
      margin-left:10px;
      font-size: 24px;
      
  }
  .in-sum{
      margin-left:10px;
      font-size: 20px;
  }
  .in-tit:hover{
      /* font-size:28px ; */
      cursor:pointer;
      color:white;
  }
 
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #020b1b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #102a57af;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #143b7e80;
    cursor: pointer;
  }
.bb{
  font-size: 22px;
  color: #d48d0a;
  cursor: pointer;
 
}