*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial',sans-serif;
}

:root {
  --background_color: #202020;
  --textbox_color: #808080;
}

body{
  background-color: var(--background_color);
}
section{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  min-height: 100vh;
  
}
#PageName{
  font-size: 100px;
  text-align: center;
}
form{
  margin-top: 30px;
  border-radius: 20px;
  z-index: 10000;
  width: 550px;
  border-radius: 20px;
  border-radius: 20px 20px 0px 0px; 
  background-color: var(--background_color);
}
form ul{
  position: fixed; /* heya di el hat7el el mawdoo3 */
  width: 100%;
  background-color: inherit;
  width: inherit;
  border-radius: 0 0 20px 20px; 
}

.searchBox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-radius: inherit;
  margin-top: 3px;
  
  
}
button i{
  color: var(--textbox_color);
}
.searchBox .search{
  border: 0px;
  width: 100%;
  height:100%;
  font-size: 17px;
  background-color: var(--background_color);
  color: white;
}


.searchBox .search{
  border: 0px;
  outline: none;
  color: white;
}
.searchBox button, .searchBox div{
  background: none;
  border: none;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.searchBox div{
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-right: 5px;
}
#x{
  opacity: 0;
}
.searchBox button:hover{
  cursor: pointer;
}
form ul li{
  list-style-type: none;  
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  cursor:pointer;
}
form ul li:hover,
form ul li:focus {
    background-color: #404040;
}

li i{
  padding-right: 10px;
  font-size: 13px;
  color: var(--textbox_color);
}
ul li:hover{
background-color: #404040;
}
li:focus{
  background-color: #404040;
  border-radius: inherit;
  border: 0;
  outline: none;
}
hr{
  margin-left: 30px;
  width: 90%;
  opacity: 0%;
}
